body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: white;
	padding: 5px;
	width: 100&;
	position: sticky;
	top: 0px;
}

.nav-logo {
	margin-left: 30px;
	float: left;
	list-style: none;
}

nav ul li{
	display: inline-block;
	list-style: none;
	font-size: 15px;
	padding-right: 25px;
}

.right-nav {
	text-align: center;
	margin-right: 60px;
	height: 50px;
	font-weight: bold;
}

.tuitt-button {
	margin-right: 80px;
	color: white;
	border: none;
	font-weight: bold;
	padding: 10px;
	background-color: #c2195b;
	border-radius: 90px
}



.front-bg {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    min-height: 60vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
	color: white;
	text-align: right;

}

.title {
	text-align: right;
	padding-right: 80px;
	font-family: 'Zilla Slab', serif;
}

.title-2 {
	text-align: center;
	font-family: 'Zilla Slab', serif;
}

.subtitle {
	padding-right: 80px;
}

.apply-button {
	margin-right: 80px;
	color: white;
	border: none;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	background-color: #c2195b;
	border-radius: 90px
}

.intro {
	text-align: center;
	padding: 80px;
}

.intro-description {
	margin: 50px;
	text-align: left;
}
.prefooter-description {
	text-align: center;
	margin-right: 50px;
	margin-left: 50px;
	padding-bottom: 10px;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;

}

.book-button {
	margin-top: 0px;
	margin-right: 50px;
	background-color: #336589;
	text-align: center;
	color: white;
	border: none;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-left: 25px;
	border-radius: 90px
}

footer {
	margin-right: 50px;
	text-align: center;
	padding: 80px;
}